<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/MedicalEcoSystem?zeroDateTimeBehavior=convertToNull</property>
		<property name="hibernate.connection.username">MedicalEcoSystem</property>
		<property name="hibernate.current_session_context_class">thread</property>

		<mapping class="neu.ying.entities.CompoundCatalog" />
		<mapping class="neu.ying.entities.Compound" />
		<mapping class="neu.ying.entities.User" />
		<mapping class="neu.ying.entities.Drug" />
		<mapping class="neu.ying.entities.DrugCatalog" />
		<mapping class="neu.ying.entities.Message" />



	</session-factory>
</hibernate-configuration>
